<section class="row mb-4">
  <img src="<%= game.image_url%>" class="d-block col-5" alt="" />
  <div class="col-7">
    <h1 class="mb-3"><%= game.title %></h1>
    <div class="mb-3"><%= game.release_date %>, <%= game.genre %></div>
    <div class="mb-3"><%= game.description%></div>
  </div>
  <h2>Highscores</h2>
  <div class="row mb-3">
    <% users.forEach(user=> { %>
    <div class="mb-3">
      <p><%= user.first_name%>, <%= user.highscore_date%></p>
      <p><%= user.highscore%></p>
    </div>

    <% }) %>
  </div>
</section>
