<div class="user-card row-4 mb-3">
  <a href="/games/<%= user.url_slug %>">
    <div><%= user.title %></div>
    <div><%= user.highscore %></div>
    <div><%= user.username %>, <%= user.highscore_date %></div>
  </a>
</div>
